.content{
	margin-top: 10%;
}
.register{
	width:500px;
	margin:0 auto;
	font-size: 14px;
	color: #333333;
	position: relative;
	left:100px;

}
.register form{
	width:500px;

}
.register form input{
	width:220px;
	height:45px;
	margin-bottom: 35px;
	border:1px solid #3a6a75;
	padding-left: 10px;
	border-radius: 5px;
}
.register form label{
	width:60px;
	height:45px;
	line-height: 45px;
	display: inline-block;
	text-align: right;
}
.register form strong{
	margin:0 10px;
	color: red;
}
.register button{
	width:230px;
	height:52px;
	background: #37575f;
	font-size: 24px;
	color: #ffffff;
	margin-top: 15px;
	position:relative;
	left:90px;
	border: 0;
	border-bottom: 3px solid #122f30;
	border-radius: 6px;
}
.errorInfo{
	width: 300px;
	font-size: 14px;
	color: red;
	text-align: center;
}
em{
    margin-left:2%;
    color:red;
}
