/*标签*/
/* 修正IE6振动bug 
* html, * html body {
	background-image: url(about:blank);
	background-attachment: fixed;
}*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, a, blockquote, th {
	margin: 0;
	padding: 0;
}
body {
	font-family: "宋体", Arial, Helvetica, sans-serif;
}
em, strong, i, b, u {
	font-style: normal;
	font-weight: normal
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
fieldset, img {
	border: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.clearfix {
	clear: both;
}
/*去除chrome的默认焦点黄匡*/
input:focus, textarea:focus {
	outline: none;
}
.hidden {
	display: none;
}
/*测试样式*/
body{
	padding: 50px;
	line-height:22px;
}
.parent > p{
	color:#f00;
	border:solid 1px #f00;
}
.test2 h2 + p{
	color:#f00;
	border:solid 1px #f00;
}
.test3 h2 ~ p{
	color:#f00;
	border:solid 1px #f00;
}
.test4 {
	color:#0f0;
	border:solid 1px #f00;
}
.test4.test_4{
	color:#f00;
	border:solid 1px #f00;
}
.test5:hover{
	background: #f00;
}
.test6 p:first-child{
	color: #f00;
	border:solid 1px #f00;
}
.test7 p[class]{
	color: #f00;
	border:solid 1px #f00;
}
.test8 p[class="my_test"]{
	color: #f00;
	border:solid 1px #f00;
}
.test9 p[class~="test"]{
	color: #f00;
	border:solid 1px #f00;
}
.test10 p[class|="my"]{
	color: #f00;
	border:solid 1px #f00;
}
.test11 p[class^="my"]{
	color: #f00;
	border:solid 1px #f00;
}
.test12 p[class$="test"]{
	color: #f00;
	border:solid 1px #f00;
}
.test13 p[class*="te"]{
	color: #f00;
	border:solid 1px #f00;
}
.test14 {
	background: #000;
	color:#fff;
}
.test14 a{
	color:#000;
	background: #fff;
}
.test14 .png{
	background:url(images/img.png) ;
}
.test16{
	position:relative;
	height:200px;
	border:solid 1px #f00;
}
.test16 .mytest{
	position:absolute;
	top:20px;
	bottom:30px;
	border:solid 1px #0f0;
}
.test17 .mytest{
	min-width: 800px;
	height:40px;
	border:solid 1px #f00;
	display: inline-block;
	margin-top:20px;
}
.test18 .mytest{
	max-width: 800px;
	border:solid 1px #f00;
	margin-top:20px;
}
.test19 .mytest{
	max-height: 100px;
	border:solid 1px #f00;
	margin-top:20px;
}
.test20 {
	margin-top:120px;
}
.test20 .mytest:empty{
	min-height: 40px;
	border:solid 1px #f00;
}
.test21 {
	position: fixed;
	background: red;
	color: white;
	bottom: 50px;
	right: 10px;
	width: 150px;
	padding: 4px 8px;
}
.test22:after{
	content:"我在后";
	background: #f00;
	color:#fff;
}
.test22:before{
	content:"我在前";
	background: #00f;
	color:#fff;
}
.test23 input:first-child:active{
	background: #ff0;
}
.test23 input:nth-of-type(2):focus{
	background: #ff0;
}
.test23 input:checked + span{
	font-weight:bold;
	color:#F2B829;
}
.test23 input:disabled + span{
	background: #f00;
}
.test24 p:first-of-type{
	background: #f00;
}
.test24 p:last-of-type{
	background: #ff0;
}
.test25 p:not(:first-child){
	background: #f00;
}
.test26 p:nth-child(2){
	background: #f00;
}
.test27 p:nth-last-child(5){
	background: #f00;
}
.test28 p:nth-last-of-type(2){
	background: #f00;
}
.test29 p:nth-of-type(2){
	background: #f00;
}
.test30 ul{
	overflow:hidden;
	width:100%;
}
.test30 ul:first-child li{
	float:left;
	margin: 0 10px;
	border: solid 1px #f00;
	border-bottom: none;
	padding: 0 10px;
}
.test30 ul:last-child{
	height:25px;
	border-top: solid 1px #f00;
}
.test30 ul:last-child li{
	float:left;
	width:100%;
}
.test30 ul:last-child li:target{
	color:#f00;
	border:solid 1px #f00;
}
.test31 div{
	background: url(images/img.gif) repeat;
	position:relative;
	width:250px;
	height:250px;
}
.test31 div div{
	background: #000;
	position:absolute;
	width:100px;
	height:100px;
	top:20px;
	left:20px;
	color: #fff;
	opacity:0.5;
}
.test32{
	position:relative;
	width:200px;
	height:150px;
	border:solid 1px #f00;
	background: #FCEFA1;
}
.testimg{
	background: url(images/img.jpeg) top;
}
.test32 .img1{
	position:absolute;
	top:10px;
	left:10px;
}
.test32 .img2{
	position:absolute;
	bottom:10px;
	left:10px;
}
.test32 .img3{
	position:absolute;
	top:10px;
	right:10px;
	width:27px;
	height:46px;
	background: url(images/r_btn8.png) no-repeat;
}
.testimg .img1 ,.testimg .img2 ,.testimg .img3 ,.testimg .img4{
	opacity:0.7;
}
.test32 .img4{
	position:absolute;
	bottom:10px;
	right:10px;
	width:27px;
	height:46px;
	background: url(images/r_btn24.png) no-repeat;
}